setuptools==75.1.0
wheel==0.44.0
pip==24.2
Brotli==1.0.9
certifi==2024.8.30
charset-normalizer==3.3.2
filelock==3.13.1
gmpy2==2.1.2
idna==3.7
MarkupSafe==2.1.3
mpmath==1.3.0
networkx==3.2.1
pillow==11.0.0
PySocks==1.7.1
PyYAML==6.0.2
six==1.16.0
typing_extensions==4.12.2
Jinja2==3.1.4
mkl-service==2.4.0
urllib3==2.2.3
numpy==1.24.3
requests==2.32.3
mkl-fft==1.3.1
mkl-random==1.2.2
torch==2.5.1
torchaudio==2.5.1
triton==3.1.0
torchvision==0.20.1
zipp==3.21.0
python-dateutil==2.9.0.post0
pyparsing==3.2.0
packaging==24.2
kiwisolver==1.4.7
fonttools==4.55.3
cycler==0.12.1
contourpy==1.3.0
importlib_resources==6.4.5
matplotlib==3.9.4
pytz==2024.2
py-cpuinfo==9.0.0
tzdata==2024.2
tqdm==4.67.1
smmap==5.0.1
sympy==1.13.1
scipy==1.13.1
psutil==6.1.0
opencv-python==4.10.0.84
fsspec==2024.10.0
pandas==2.2.3
ultralytics-thop==2.0.13
seaborn==0.13.2
ultralytics==8.3.49
setproctitle==1.3.4
sentry-sdk==2.19.2
protobuf==5.29.1
platformdirs==4.3.6
eval_type_backport==0.2.0
docker-pycreds==0.4.0
click==8.1.7
annotated-types==0.7.0
pydantic_core==2.27.1
gitdb==4.0.11
pydantic==2.10.3
GitPython==3.1.43
wandb==0.19.1
threadpoolctl==3.5.0
joblib==1.4.2
scikit-learn==1.6.0
autocommand==2.2.2
backports.tarfile==1.2.0
importlib_metadata==8.0.0
importlib_resources==6.4.0
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
more-itertools==10.3.0
packaging==24.1
platformdirs==4.2.2
tomli==2.0.1
typeguard==4.3.0
typing_extensions==4.12.2
wheel==0.43.0
zipp==3.19.2
